<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itdr.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.itdr.pojo.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="iphone" property="iphone" jdbcType="VARCHAR"/>
        <result column="role" property="role" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="TINYINT"/>
        <result column="question" property="question" jdbcType="VARCHAR"/>
        <result column="answer" property="answer" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="ip" property="ip" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        ,
        username,
        password,
        email,
        iphone,
        role,
        state,
        question,
        answer,
        create_time,
        update_time,
        ip
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from lvyou_users
        where id = #{id,jdbcType=INTEGER}
    </select>


    <!--根据用户名和密码查询用户-->
    <select id="selectByUsernameAndPassword" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from lvyou_users
        where username = #{param1} and password =#{param2}
    </select>

    <!--查看用户是否存在-->
    <select id="selectByUsername" parameterType="string" resultType="java.lang.Integer">
        select
            count(id)
        from lvyou_users
        where username = #{username}
    </select>

    <!--根据用户名或邮箱查询-->
    <select id="selectByUsernameOrEmail" resultType="java.lang.Integer">
        select
        count(id)
        from lvyou_users
        where
        <if test="type == 'username'">
            username = #{str}
        </if>
        <if test="type == 'email'">
            email =#{str}
        </if>
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from lvyou_users
        where id = #{id,jdbcType=INTEGER}
    </delete>


    <insert id="insert" parameterType="com.itdr.pojo.User">
        insert into lvyou_users (id, username, password,
                                 email, iphone, role,
                                 state, question, answer,
                                 create_time, update_time, ip)
        values (null, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
                #{email,jdbcType=VARCHAR}, #{iphone,jdbcType=VARCHAR}, 0,
                1, #{question,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR},
                now(), now(), #{ip,jdbcType=VARCHAR})
    </insert>


    <insert id="insertSelective" parameterType="com.itdr.pojo.User">
        insert into lvyou_users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="iphone != null">
                iphone,
            </if>
            <if test="role != null">
                role,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="question != null">
                question,
            </if>
            <if test="answer != null">
                answer,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="ip != null">
                ip,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="iphone != null">
                #{iphone,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                #{role,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=TINYINT},
            </if>
            <if test="question != null">
                #{question,jdbcType=VARCHAR},
            </if>
            <if test="answer != null">
                #{answer,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.itdr.pojo.User">
        update lvyou_users
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null and email != '' " >
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="iphone != null and iphone != '' ">
                iphone = #{iphone,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                role = #{role,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=TINYINT},
            </if>
            <if test="question != null and question !=''">
                question = #{question,jdbcType=VARCHAR},
            </if>
            <if test="answer != null and answer !=''">
                answer = #{answer,jdbcType=VARCHAR},
            </if>

                update_time = now(),

            <if test="ip != null">
                ip = #{ip,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.itdr.pojo.User">
        update lvyou_users
        set username    = #{username,jdbcType=VARCHAR},
            password    = #{password,jdbcType=VARCHAR},
            email       = #{email,jdbcType=VARCHAR},
            iphone      = #{iphone,jdbcType=VARCHAR},
            role        = #{role,jdbcType=VARCHAR},
            state       = #{state,jdbcType=TINYINT},
            question    = #{question,jdbcType=VARCHAR},
            answer      = #{answer,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            ip          = #{ip,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>


</mapper>